/**
 * Reset & Base
 */
html { height: 100%; border: 0; box-sizing: border-box; outline: none; }
* { margin: 0; padding: 0; box-sizing: inherit; outline: inherit; }

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial';
}

/**
 * Heading
 */
header {
  padding: 4em;
  color: white;
  background-color: rgb(60, 199, 106);
  text-align: center;
}

header h4 {
  font-size: 64px;
  font-weight: normal;
}

/**
 * Main
 */
main {
  padding: 2em;
}

main p {
  margin: 2em 0;
}

button {
  padding: 0.5em;
  background: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.Code {
  white-space: pre;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.03);
  font-family: monospace, serif;
  padding: 1em;
}

.Sheet {
  padding: 3em;
}

.Sheet p + p {
  margin-top: 1em;
}
